<!doctype html>
<html>
<head>
    <title>中山大学学生签到系统</title>
    <link rel="stylesheet" href="/resources/css/mobile/student/home/style.css">
    <link rel="stylesheet" href="/resources/css/mobile/student/home/style1.css">
    <link rel="stylesheet" href="/resources/css/mobile/student/home/home.css">
    <link rel="stylesheet" href="/resources/css/mobile/student/photo_list/photo.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css"/>
    <link rel="stylesheet" href="/resources/css/jquery.fileupload.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/mobile/mobile.css"/>
</head>
<body>
<a href="#cd-nav" class="cd-nav-trigger">
    <span></span>
</a>
<!-- .cd-nav-trigger -->
<main>
    <section class="cd-section index cd-selected">
        <div class="cd-content">
            <form method="POST" enctype="multipart/form-data">
                 <span class="btn btn-primary fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>选择图片...</span>
                     <!-- The file input field used as target for the file upload widget -->
                    <input id="file" type="file" name="file" onchange="showFileName(this)">

                </span>
                <label id="filename"></label>
            </form>
            <br>
            <button id="button" class="btn btn-info">upload</button>
            <br>
            <br>
            <!-- The global progress bar -->
            <!-- The container for the uploaded files -->
            <div id="files" class="files"></div>
        </div>
    </section>
</main>
<nav class="cd-nav-container" id="cd-nav">
    #parse("teacher/backbar.vm")
</nav>
<div class="cd-overlay">
</div>
</body>
<script src="/resources/js/mobile/student/home/jquery-2.1.1.js"></script>
<script src="/resources/js/mobile/student/home/main.js"></script>
<script src="/resources/js/mobile/student/home/index.js"></script>
<script src="/resources/js/mobile/student/home/modernizr.js"></script>
<script>
    function showFileName(e) {
        var path = $(e).val();
        var name = path.substring(path.lastIndexOf('\\') + 1);
        $("#filename").text(name);
    }
</script>
<script>
    $("#button").click(function () {
        var formData = new FormData();
        formData.append("file", $("#file")[0].files[0]);
        var url = "photo";
        jQuery.ajax({
            url: url,
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                data = eval("(" + data + ")");
                var status = data.status;
                var fileName = data.data;
                if (status == 200) {
                    $("#files").after(fileName + "上传成功<br>");
                }
                else {
                    $("#files").after(fileName + "上传失败<br>");
                }
            },
            error: function (data) {
                alert("error");
            }
        });
    });

</script>
</html>