<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
		<a href="/SignInSystem/student/home" class="home"><h2>首页</h2></a>
    </header>
	<ul id="accordion" class="accordion">
		<li>
			<div class="link"><i class="fa fa-code"></i>照片<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li><a href="/SignInSystem/student/photo/upload">上传照片</a></li>
				<li><a href="/SignInSystem/student/photo/list">管理照片</a></li>
			</ul>
		</li>
		<li>
			<div class="link"><i class="fa fa-mobile"></i>账户<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li><a href="/SignInSystem/student/info/info">个人信息</a></li>
			</ul>
		</li>
	</ul>
	<header>
      <a  class="logout" href="/SignInSystem/student/logout"><h3>注销<h3></a>
    </header>
</body>
</html>