<!doctype html>
<html>
<head>
    <title>中山大学学生签到系统</title>
    <link rel="stylesheet" href="/SignInSystem/resources/css/mobile/student/home/style.css">
    <link rel="stylesheet" href="/SignInSystem/resources/css/mobile/student/home/style1.css">
    <link rel="stylesheet" href="/SignInSystem/resources/css/mobile/student/home/home.css">
    <link rel="stylesheet" href="/SignInSystem/resources/css/mobile/student/info/my_info.css">
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/validform_style.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/mobile/mobile.css"/>
</head>
<body>
<a href="#cd-nav" class="cd-nav-trigger">
    <span></span>
</a>
<!-- .cd-nav-trigger -->
<main>
    <section class="cd-section index cd-selected">
        <div class="cd-content">
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">用户名：</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="name" value="$!{teacher.userName}" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label for="teacherName" class="col-sm-2 control-label">姓名：</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="teacherName" value="$!{teacher.teacherName}"
                               readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">邮箱：</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="email" value="$!{teacher.email}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="userPwd" class="col-sm-2 control-label"> 密码：</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="userPwd" value="$!{teacher.userPwd}" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 btn-center">
                        <a href="update"> <input type="button" class="btn btn-info" value="修改"> </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<nav class="cd-nav-container" id="cd-nav">
    #parse("teacher/backbar.vm")
</nav>
<div class="cd-overlay">
</div>
</body>
<script src="/SignInSystem/resources/js/mobile/student/home/jquery-2.1.1.js"></script>
<script src="/SignInSystem/resources/js/mobile/student/home/main.js"></script>
<script src="/SignInSystem/resources/js/mobile/student/home/index.js"></script>
<script src="/SignInSystem/resources/js/mobile/student/home/modernizr.js"></script>
</html>