<!DOCTYPE html>
<html>
<head>
    <title>学生签到系统</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/validform_style.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/demo.css"/>
    <link ref="stylesheet" type="text/css" href="/resources/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/mobile/login.css"/>

    <script type="text/javascript" src="/resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/js/Validform_v5.3.2.js"></script>
    <script type="text/javascript" src="/resources/js/student_register.js"></script>
</head>
<body>
<div class="lg-container">
    <div class="lg-title">
        <h1>学生签到系统</h1>
    </div>
    <form action="register" id="lg-form" name="lg-form" method="post">
        <div>
            <label for="stuId">学号:</label>
            <input type="text" name="stuId" id="stuId" placeholder="请输入学号">
        </div>
        <div>
            <label for="pwd">姓名:</label>
            <input type="text" name="name" id="name" placeholder="请输入真实姓名">
        </div>
        <div>
            <label for="pwd">邮箱:</label>
            <input type="text" name="email" id="email" placeholder="请输入邮箱">
        </div>
        <div>
            <label for="pwd">密码:</label>
            <input type="password" name="pwd" id="pwd" placeholder="请输入密码">
        </div>
        <div>
            <label for="pwd">确认密码:</label>
            <input type="password" name="repw" id="repw" placeholder="请再次输入密码">
        </div>
        <div>
            <button type="submit">提交</button>
        </div>
    </form>
    <a href="index" class="back">返回 </a>
</div>
</body>
</body>


</html>