<!DOCTYPE html>
<html>
<head>
    <title>学生签到系统</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/validform_style.css"/>

    <script type="text/javascript" src="/SignInSystem/resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="/SignInSystem/resources/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="/SignInSystem/resources/js/Validform_v5.3.2.js"></script>

</head>
<body>
    #parse("teacher/toolbar.vm")
<div class="add1">
    <div class="form-horizontal" role="form">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">用户名：</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="name" value="$!{teacher.userName}" readonly>
            </div>
        </div>

        <div class="form-group">
            <label for="teacherName" class="col-sm-2 control-label">姓名：</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="teacherName" value="$!{teacher.teacherName}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">邮箱：</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="email" value="$!{teacher.email}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="userPwd" class="col-sm-2 control-label"> 密码：</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="userPwd" value="$!{teacher.userPwd}" readonly>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="update"> <input type="button" class="btn btn-info" value="修改"> </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>