<!DOCTYPE html>
<html>
<head>
    <title>学生签到系统</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/validform_style.css"/>

    <script type="text/javascript" src="/resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="/resources/js/Validform_v5.3.2.js"></script>
</head>
<body>
    #parse("teacher/toolbar.vm")
<div class="add1">
    <form action="/teacher/student/phone/update" method="post" id="student" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="stuId" class="col-sm-2 control-label"><span class="need">*</span>学号：</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="stuId" id="stuId" / >
            </div>
            <div>
                <div class="Validform_checktip"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 btn-center">
                <button type="submit" class="btn btn-info">提交</button>
            </div>
        </div>
    </form>
</div>
</body>

<script type="text/javascript">
    $(function () {
        var info = $("#student").Validform({
            tiptype: 1,
            label: ".label",
            showAllError: true,
            ajaxPost: true,
            callback: function (data) {
                var status = data.status;
                if (status == 200) {
                    document.getElementById("stuId").value = "";
                    alert("修改成功");
                }
                else
                    alert("修改失败");
            }
        });

        info.addRule([
            {
                ele: "#stuId",
                datatype: "n8-8",
                errormsg: "",
                nullmsg: ""
            }
        ]);
    });
</script>
</html>