<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <a href="/SignInSystem/teacher/home" class="home"><h2>首页</h2></a>
</header>
<ul id="accordion" class="accordion">
    <li>
        <div class="link"><i class="fa fa-code"></i>学生<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
            <li><a href="/SignInSystem/teacher/student/list">学生列表</a></li>
            <li><a href="/SignInSystem/teacher/student/phone/update">更换号码</a></li>
        </ul>
    </li>
    <li>
        <div class="link"><i class="fa fa-mobile"></i>签到<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
            <li><a href="/SignInSystem/teacher/sigin/photo">拍照签到</a></li>
            <li><a href="/SignInSystem/teacher/sigin/list">本周已签</a></li>
            <li><a href="/SignInSystem/teacher/sigin/search">签到查询</a></li>
        </ul>
    </li>
    <li>
        <div class="link"><i class="fa fa-mobile"></i>课程<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
            <li><a href="/SignInSystem/teacher/course/list">课程管理</a></li>
        </ul>
    </li>
    <li>
        <div class="link"><i class="fa fa-mobile"></i>账户<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
            <li><a href="/SignInSystem/teacher/info/info">个人信息</a></li>
        </ul>
    </li>
</ul>
<header>
    <a class="logout" href="/SignInSystem/teacher/logout">
        <h3>注销<h3>
    </a>
</header>
</body>
</html>