<!DOCTYPE html>
<html>
<head>
    <title>学生签到系统</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/validform_style.css"/>
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/jquery.fileupload.css">
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/upload_photo.css">

    <script type="text/javascript" src="/SignInSystem/resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="/SignInSystem/resources/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="/SignInSystem/resources/js/Validform_v5.3.2.js"></script>

</head>
<body>
    #parse("teacher/toolbar.vm")
<div class="container">
    <div class="photo_box">
        <form method="POST" enctype="multipart/form-data">
         <span class="btn btn-primary fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>选择图片...</span>
             <!-- The file input field used as target for the file upload widget -->
            <input id="file" type="file" name="file" onchange="showFileName(this)">

        </span>
            <label id="filename"></label>
        </form>
        <br>
        <button id="button" class="btn btn-info">upload</button>
        <br>
        <br>
        <!-- The global progress bar -->
        <!-- The container for the uploaded files -->
        <div id="files" class="files"></div>
    </div>
</div>
</body>
<script>
    function showFileName(e) {
        var path = $(e).val();
        var name = path.substring(path.lastIndexOf('\\') + 1);
        $("#filename").text(name);
    }
</script>
<script>
    $("#button").click(function () {
        var formData = new FormData();
        formData.append("file", $("#file")[0].files[0]);
        var url = "photo";
        jQuery.ajax({
            url: url,
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                data = eval("(" + data + ")");
                var status = data.status;
                var fileName = data.data;
                if (status == 200) {
                    $("#files").after(fileName + "上传成功<br>");
                }
                else {
                    $("#files").after(fileName + "上传失败<br>");
                }
            },
            error: function (data) {
                alert("error");
            }
        });
    });

</script>

</html>