<!DOCTYPE html>
<html>
<head>
    <title>学生签到系统</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/bootstrap2.css"/>
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/SignInSystem/resources/css/DT_bootstrap.css">

    <script type="text/javascript" src="/SignInSystem/resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="/SignInSystem/resources/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="/SignInSystem/resources/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/SignInSystem/resources/js/demo1.js"></script>
    <script type="text/javascript" src="/SignInSystem/resources/js/jquery-dateFormat.min.js"></script>
</head>
<body>
    #parse("teacher/toolbar.vm")
<div class="container">
    课程:
    <select class="form-control2" name="courseId" id="courseId" onchange="changeCourse(this)">
        #foreach($course in $courseList)
            <option value="${course.courseId}">${course.courseName}</option>
        #end
    </select>
    <br>
    <table class="bordered-table zebra-striped" id="example">
        <caption>签到信息(第$!{week}周)</caption>
        <thead>
        <tr>
            <th>学号</th>
            <th>签到时间</th>
            <th>可信度</th>
        </tr>
        </thead>
        <tbody id="statisticBody">
            #foreach($statistic in $statisticList)
            <tr>
                <td>$statistic.stuId</td>
                <td>$statistic.siginTime</td>
                <td>$statistic.confidence</td>
            </tr>
            #end
        </tbody>
    </table>
    <div style="text-align:center;">
        共签到了 <span style="font-weight:bold;" id="num_sigin">$!{statisticList.size()}</span> 人
    </div>
    <div class="hide" id="importStudent">${importStudent}</div>
</div>
</body>
<script>
    function changeCourse(e) {
        var courseId = $(e).val();
        var week = ${week};
        jQuery.ajax({
            url: "course/list",
            type: "post",
            data: "courseId=" + courseId + "&week=" + week,
            success: function (data) {
                var json = eval('(' + data + ')');
                data = json.data;
                var status = json.status;
                if (status != 200) {
                    alert(json.msg);
                }
                $("#statisticBody").empty();
                for (var i in data) {
                    var tr = $("<tr></tr>");
                    tr.attr("id", data[i]);
                    var stuId = data[i].stuId;
                    var siginTime = data[i].siginTime;
                    var stuIdTd = $("<td></td>").text(stuId);
                    var siginTimeTd = $("<td></td>").text(siginTime);
                    var confidenceTd = $("<td></td>").text(data[i].confidence);
                    tr.append(stuIdTd);
                    tr.append(siginTimeTd);
                    tr.append(confidenceTd);
                    $("#statisticBody").append(tr);
                }
                $("#num_sigin").text(data.length);
            },
            error: function () {
                alert("error");
            }
        });
    }
</script>
<script>
    jQuery(function () {
        var importStudent = $("#importStudent").text();
        if (importStudent == -2) {
            alert("该课程未导入学生");
        }

    });
</script>
</html>